@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222 84% 4%;
  --primary: 276 91% 68%;
  --primary-foreground: 0 0% 100%;
}

html, body { height: 100%; }
